/* Trạng thái mặc định của nút suất chiếu */
.showtime-btn {
    -fx-background-color: #1f1f1f;
    -fx-text-fill: #ffffff;
    -fx-border-color: #444444;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 10 20 10 20;
    -fx-cursor: hand;
}

/* HOVER: Hiệu ứng khi di chuột qua nút (cho giao diện mượt hơn) */
.showtime-btn:hover {
    -fx-border-color: #666666;
    -fx-background-color: #252525;
}

/* SELECTED: Trạng thái khi ĐƯỢC CHỌN (Nút tự động đổi sang màu đỏ) */
.showtime-btn:selected {
    -fx-background-color: #e50914;
    -fx-border-color: #e50914;
    -fx-text-fill: #ffffff;
}